name: versioning

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  version-check:
    name: version-check
    uses: itsferdiardiansa/ci-toolbox/.github/workflows/versioning.yaml@v1.0.0
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}